/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d56f5a;
    color: #333; /* Default text color */
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Navigation */
/* Navigation */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Fixed position */
    width: 100%; /* Occupy full width of the viewport */
    z-index: 999; /* Ensure the navigation bar appears above other content */
}

/* Sections */
section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

nav ul {
    
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


/* About Section */
#about {
    display: flex;
    min-height: 100vh;
    border-radius: 20px; /* Rounded corners */
    justify-content: center; /* Center the flex items horizontally */
    align-items: flex-start; /* Center the flex items vertically */
    background-color: #b0abaa; /* Light gray background color for about section */
    border-bottom: 10px solid #333; /* Border color between sections */
}

#about h2 {
    margin-top: 150px; /* Adjust the margin-top to add space from the top */
}

/* About Content */
.about-content {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center the flex items vertically */
    width: 80%; /* Adjust width as needed */
    max-width: 960px; /* Adjust max-width as needed */

}

/* About Paragraph */
.about-paragraph {
    flex: 2; /* Increase the flex value to allocate more space */
    margin-left: 20px; /* Add margin to the left of the paragraph */
}

.about-paragraph p {
    width: 150%; /* Make the paragraph fill up the entire width of its container */
    text-align: justify; /* Align paragraph text */
}

/* Profile Picture */
.profile-image {
    flex: 0 0 auto; /* Do not grow, do not shrink, use auto size */
    margin-right: 50px; /* Add margin to the right of the picture */
}

.profile-image img {
    border-radius: 50%; /* Make the image circular */
    width: 200px; /* Set width to 200px */
    height: 200px; /* Set height to 200px */
    object-fit: cover; /* Ensure the image covers the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

/* Additional Styles */

/* Welcome Section */
#welcome {
    display: flex;
    min-height: 100vh;
    border-radius: 20px; /* Rounded corners */
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    background-color: #b0abaa; /* Light gray background color for about section */
    border-bottom: 10px solid #333; /* Border color between sections */
}
#welcome p {
    text-align: left;
}
/* Welcome Section Title */
#welcome h1 {
    color: #333;
    text-align: center; /* Center the heading text */
    font-size: 2.5em;
}

/* About Section Title */
#about h2 {
    font-size: 2em;
    text-align: center; /* Center the heading text */
    color: #333; /* Dark text color */
}
/* About Section */
#skills {
    display: flex;
    min-height: 100vh;
    border-radius: 20px; /* Rounded corners */
    justify-content: center; /* Center the flex items horizontally */
    align-items: center; /* Center the flex items vertically */
    background-color: #b0abaa; /* Light gray background color for about section */
    border-bottom: 10px solid #333; /* Border color between sections */
}

/* skills Section Title */
#skills h2 {
    font-size: 2em;
    text-align: center;
    color: #333; /* Dark text color */
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: left; /* Align text to the left */
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

/* skills Section Title */
footer h2 {
    font-size: 1em;
    text-align: center;
    color: #ffffff; /* Dark text color */
}

/* Footer Text Color */
footer p {
    color: #fff; /* White text color */
}

/* Footer Link Color */
footer a {
    color: #ffc107; /* Yellow link color */
}
/* Media Queries for Responsive Design */
@media only screen and (max-width: 600px) {
    .container {
        padding: 5px;
    }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    .profile-image img {
        width: 100px;
        height: 100px;
    }

    /* Adjust other styles as needed for smaller screens */